<?xml version="1.0" ?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">

    <material name = "white">
        <color rgba = "1 1 1 1" />
    </material>
    <material name = "blue">
        <color rgba = "0 0 1 1" />
    </material>
    <material name = "green">
        <color rgba = "0 1 0 1" />
    </material>
    <material name = "red">
        <color rgba = "1 0 0 1" />
    </material>
    <material name = "black">
        <color rgba = "0 0 0 1" />
    </material>

    <xacro:macro name = "box_inertial" params = "m l w h xyz rpy">
        <inertial>
            <origin xyz = "${xyz}" rpy = "${rpy}" />
            <mass value="${m}"/>
            <inertia ixx="${(m / 12) * (h*h + w*w)}" ixy="0.0" ixz="0.0"
                     iyy="${(m / 12) * (h*h + l*l)}" iyz="0.0" 
                     izz="${(m / 12) * (w*w + l*l)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name = "cylinder_inertial" params = "m r h xyz rpy">
        <inertial>
            <origin xyz = "${xyz}" rpy = "${rpy}" />
            <mass value="${m}"/>
            <inertia ixx="${ (m / 12) * (h*h + 3*r*r) }" ixy="0.0" ixz="0.0"
                     iyy="${ (m / 12) * (h*h + 3*r*r) }" iyz="0.0" 
                     izz="${ (m / 12) * (r*r) }" />
        </inertial>
    </xacro:macro>

    <xacro:macro name = "sphere_inertial" params = "m r xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value = "${m}" />
            <inertia ixx="${(2*m*r*r)/ 5}" ixy="0.0" ixz="0.0" 
                     iyy="${(2*m*r*r)/ 5}" iyz="0.0" 
                     izz="${(2*m*r*r)/ 5}"/>
        </inertial>
    </xacro:macro>

</robot>